/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-rubik;
}
.btn-primary {
  @apply bg-primary text-white	 border-2 rounded-lg border-primary py-1 px-2.5 filter hover:brightness-95 transition duration-700 ease-in-out;
}

.btn-secondary {
  box-shadow: 2px 2px 0px theme("colors.black");
  @apply bg-white border-2 rounded-lg border-black py-1 px-2.5 hover:bg-gray transition duration-700 ease-in-out;
}

.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply appearance-none border-none outline-none w-5 h-5 cursor-pointer p-0 bg-transparent;
}

.color-input::-webkit-color-swatch {
  @apply border-none rounded-md;
}

.color-input::-moz-color-swatch {
  @apply border-none rounded-md;
}
